* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 0 161px 76px;
}

section {
    display: inline-block;
   
    margin-left: 16px;
    margin-top: 100px;

}

h1 {
    width: 582px;
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px; /* 132.258% */
    letter-spacing: 0.596px;
}

p {
    width: 493px;
    color: #4B505A;
    font-size: 18px;
    margin-top: 47;
    margin-bottom: 55;
    font-weight: 400;
    line-height: 33px; /* 183.333% */
}


.link-header {
    color: #17233D;
    width: 83px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 23px;
       
}

.button-header {
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;

}

.logo-positive {
    width: 583px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
   
}

.button-main {
color: #6FBF44;
font-size: 18px;
font-weight: 500;
}

@media screen and (max-width: 1300px) {
   section {
    display: block;
    height: auto;
    width: 100%;
    position: absolute;
    padding: 40px;
   }

   header :not(.button-header){
    display: none;
   }

   
   
   
   
    h1 {
        width: 278px;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px; /* 100% */
        letter-spacing: 0.596px;
    }

    p {
        width: 304px;
        text-align: center;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
    }
    
 
}